* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/fonts/Roboto-Regular.woff') format('woff'),
    url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 15px;
  border: 1px solid #d2d2d2;
}

.clearfix {
  clear: both;
}

img {
  max-width: 100%;
  height: 100%;
}

/* Header */
.header .wrapper {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.header__logo {
  margin-right: clamp(20px, 7vw, 50px);
}

.header__menu > ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__menu > ul > li {
  margin-right: clamp(10px, 5vw, 20px);
}

.header__menu > ul > li a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
}

.header__button button {
  min-width: 120px;
  height: 40px;
  padding: 10px 20px;
  margin-left: auto;
  border: none;
  border-radius: 8px;
  background: rgb(235, 107, 69);
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.section {
  padding: 30px 0;
}

.section-overflow {
  height: 50px;
  overflow: hidden;
}

.section-block {
  width: 900px;
  padding: 30px;
  margin: 10px 0;
  border: 1px solid #333;
}

.section-float {
  margin: 30px 0;
}

.section-float .img-left {
  float: left;
}

.section-float .img-right {
  float: right;
}

.section-float .block {
  float: left;
  width: 30%;
  margin-right: 20px;
  border: 1px solid rgb(180, 35, 35);
}

.section-flex {
  display: flex;
}

.section-flex > .block {
  height: 100px;
  padding: 10px;
  color: #fff;
  background: rgb(89, 74, 228);
}

.section-flex-new {
  display: flex;
}

.section-flex-new > .block {
  padding: 10px;
  color: #fff;
  background: rgb(89, 74, 228);
}
