* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hero section */
.hero {
  height: 800px;
  padding-top: 184px;
  background-image: url('../assets/img/hero_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  margin-bottom: 35px;
}

.hero__title h1 {
  margin-bottom: 35px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  color: #252b42;
}

.hero__title p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #737373;
}

.hero__buttons button {
  padding: 10px 36px;
  background: transparent;
  border: 1px solid #00a0c1;
  border-radius: 37px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #00a0c1;
}
