* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

h2 {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

/* support */
.support {
  padding: 80px 0 148px;
  background: #f3f3f3;
}

.support__title {
  max-width: 865px;
  margin: 0 auto 80px;
  text-align: center;
}

.support__content {
  display: flex;
  padding: 30px;
}

.support__content > .item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 50px;
  text-align: center;
  background: #fff;
  transition: all 0.4s ease;
}

.support__content > .item:not(:last-child) {
  margin-right: 1rem;
}

.support__content > .item > div {
  margin-bottom: 15px;
}

.support__content > .item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #252b42;
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.4s ease;
}

.support__content > .item:hover {
  z-index: 1;
}

.support__content > .item:hover > div {
  z-index: 1;
}

.support__content > .item:hover > .item__image > svg {
  fill: #fff;
}

.support__content > .item:hover::before {
  opacity: 1;
}
